@charset "utf-8";

@font-face {
    font-family: 'fonte-principal';
    src:    url(./fontes/Nunito-Regular.ttf) format('truetype'), url(./fontes/Nunito-Light.ttf) format('truetype'), url(./fontes/Nunito-Medium.ttf) format('truetype'), url(./fontes/Nunito-Regular.ttf) format('truetype'), url(./fontes/Nunito-SemiBold.ttf) format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}
ul a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

body {
    box-sizing: border-box;
    font-family: 'fonte-principal';
}

.supertop-container {
    background-color: #122AB2;
    color: white;

    padding: 10px 0px;
}
.top-container {
    max-width: 960px;

    margin: auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.area {
    font-size: 1rem;
}

.supermenu-container {
    background-color: #2C70FF;
    color: white;

    padding: 20px 0px;
}
.menu-container {
    max-width: 960px;

    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.h1-container {
    font-size: 1.8rem;
    font-weight: bold;
}

.menu-lista {
    display: flex;
    flex-wrap: wrap;
}
.menu-lista li {
    margin-left: 15px;
}
.menu-lista a {
    color: white;
    font-size: 1.25rem;
}

.apresentacao-container {
    max-width: 960px;

    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid #122AB2;
    
    font-size: 3.3rem;
}