section {
    border: 2px solid black;
    width: 550px;
    height: 200px;

    display: flex;
    align-items: flex-start;
}
div {
    background-color: goldenrod;
    color: white;
    font-weight: 500;
    margin: 5px;

    padding: 5px;
}

.fg1 {
    flex-grow: 1;
}
.fg2 {
    flex-grow: 2;
}