section {
    border: 2px solid black;
    max-width: 900px;
    height: 200px;

    flex-wrap: wrap;

    margin-bottom: 30px;

    display: flex;
    align-items: flex-start;
    
}
div {
    background-color: goldenrod;
    color: white;
    font-weight: 500;
    margin: 5px;
    text-align: center;

    padding: 5px;
}


.maior {
    flex-grow: 1;
    flex-basis: 300px;
    flex-shrink: 1;
}
.menor {
    flex-grow: 1;
}


.flexba1 {
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;
    align-self: flex-end;
}
.flexba2 {
    flex-grow: 1;
    flex-basis: 200px;
    flex-shrink: 0;
    align-self: center;
}
.flexba3 {
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;;
    align-self: stretch;

    padding-top: 15px;
}
.flexba4 {
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;
}
.flexba5 {
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;
}
